#main{
    background-color: gray;
}

.especial{
    color:blue;
}

h2,h3{
    border:gold solid;

}
ul>li{
    color: red;
}
ul>li>ul>li{
    color: green;
}
.antes{
    background-color: hotpink;
}
p>img{
    border: black solid;

}
p>span>img{
    border: red solid;

}
h3:last-child{
    background-color: blue;
}